html {
    font: 1em sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    max-width: 50vw;
    padding: 10px;
    background: aliceblue;
}

button,
form,
input,
select,
textarea {
    font: inherit;
}

section {
    background: white;
    padding: 10px;
}

.tasklist-ul {
    list-style: none;
    margin: 0;
    padding: 20px 0;
}

.tasklist-item {
    background: rgb(244 247 250);
    padding: 5px;
    margin: 10px 0 10px 35px;
    border-radius: 3px;
    clear: both;
    position: relative;
    transform-origin: left bottom;
    transition-duration: .14s;
    transition-property: transform, opacity, height, padding, margin;
    transition-timing-function: ease-in;
}
.tasklist-item:hover {
    background: rgb(227 236 243);
}
.tasklist-item.checked {
    color: #5e6c84;
    text-decoration: line-through;
}

.tasklist-item-checkbox {
    background-color: #fafbfc;
    border-radius: 2px;
    box-shadow: inset 0 0 0 2px #dfe1e6;
    cursor: pointer;
    flex-shrink: 0;
    height: 20px;
    width: 20px;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-150%, -50%);
    /* transition: all .2s ease-in-out; */
    white-space: nowrap;
    background-size: 0px;
    user-select: none;
}
.tasklist-itemreal-checkbox {
    background-color: #fafbfc;
    border-radius: 2px;
    box-shadow: inset 0 0 0 2px #dfe1e6;
    cursor: pointer;
    flex-shrink: 0;
    height: 20px;
    width: 20px;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-150%, -50%);
    /* transition: all .2s ease-in-out; */
    white-space: nowrap;
}

li.tasklist-item.checked .tasklist-item-checkbox {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='%23fff' viewBox='-3 -4 16 16'%3E%3Cpath d='M1.49 3.215a.667.667 0 0 0-.98.903l2.408 2.613c.358.351.892.351 1.223.02l.243-.239a1689.645 1689.645 0 0 0 2.625-2.589l.027-.026a328.23 328.23 0 0 0 2.439-2.429.667.667 0 1 0-.95-.936c-.469.476-1.314 1.316-2.426 2.417l-.027.026a1368.126 1368.126 0 0 1-2.517 2.482L1.49 3.215z'/%3E%3C/svg%3E");
    /* content: "U+2713"; */
    background-color: #1b7355;
    opacity: 1;
    background-size: 20px;
    box-shadow: 0 0 5px #4faf4c;
}


span.delete {
    font-family: inherit;
    font-weight: bold;
    background: #ffbebe;
    user-select: none;
    font-size: 14px;
    line-height: 20px;
    top: -1px;
    color: black;
    padding: 0 6px;
    border-radius: 3px;
    position: relative;
    float: right;
    cursor: pointer;
    margin-left: 5px;
}

span.edit-item {
    font-size: 14px;
    line-height: 20px;
    top: -1px;
    color: black;
    padding: 0 4px;
    background: #beffe4;
    border-radius: 3px;
    position: relative;
    float: right;
    cursor: pointer;
    user-select: none;
}
span.save-item {
    font-family: inherit;
    font-weight: bold;
    background: #fff5f5;
    user-select: none;
    font-size: 14px;
    line-height: 20px;
    top: -1px;
    color: black;
    padding: 0 6px;
    border-radius: 3px;
    position: relative;
    float: right;
    cursor: pointer;
    margin-right: 5px;
}

.tasklist-item:hover span:not(.tasklist-item-checkbox), .tasklist-item:focus span:not(.tasklist-item-checkbox) {
    visibility: visible;
}
.tasklist-item span:not(.tasklist-item-checkbox) {
    visibility: hidden;
}
/* Dragula Ghost Style */
.gu-mirror{
    list-style: none;
}


/*icon css*/
@font-face {
    font-family: 'pen';
    src:
      url('fonts/pen.ttf?n3bbu') format('truetype'),
      url('fonts/pen.woff?n3bbu') format('woff'),
      url('fonts/pen.svg?n3bbu#pen') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  .icon,.icon::after,.icon::before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'pen';
    /* speak: never; */
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-pencil:before {
    content: "\e905";
  }
/* icon css */


#add-task-btn {
    background-color: #f0f8ff;
    border: 1px solid #3f51b5;
    border-radius: 3px;
    padding: 3px 15px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    body {
        margin: 0 auto;
        max-width: 90vw;
        padding: 10px;
        background: aliceblue;
    }
}