html {
    font: 1em sans-serif;
}

body {
    margin: 0 auto;
    max-width: 50vw;
    padding: 10px;
    background: aliceblue;
}

button,
form,
input,
select,
textarea {
    font: inherit;
}

section {
    background: white;
    padding: 10px;
}

@media only screen and (max-width: 600px){
    body {
        margin: 0 auto;
        max-width: 90vw;
        padding: 10px;
        background: aliceblue;
    }
}